body {
  background-color: black;
  color: antiquewhite;
  overflow: hidden;
  margin: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
